MARIADB_DATA_DIR=~/projects/data/mariadb
MARIADB_HOME_DIR=~/projects/tmp
POSTGRES_DATA_DIR=~/projects/data/postgres
POSTGRES_HOME_DIR=~/projects/tmp
SQLITE_DATA_DIR=~/projects/data/sqlite
SONARY_DIR=~/projects/sonary
